{% extends 'base.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}
{% block navigation_title %}{{ team.name }}{% endblock %}

{% block navigation_additions %}
    {% if is_granted('edit', team) %}
        <a href="/team/create/{{ team.id }}" class="m-2 btn-edit-team" data-toggle="tooltip" title="{{ 'click_to_edit_team'|trans({}, 'titles') }}">
            <icon class="fas fa-edit"></icon>
        </a>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="team-content container-fluid mt-3">
    <div class="row h-100">
        <div class="col-sm-12">
            <h3>
                {{ team.name }}
            </h3>
        </div>
        <div class="col-sm-12">
            <ul>
            {% for teamMember in team.teamMembers %}
                <li>{{ teamMember.member.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
