{% extends 'base.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}
{% block navigation_title %}{{ team.name }}{% endblock %}

{% block navigation_additions %}
    {% if is_granted('edit', team) %}
        <a href="/team/create/{{ team.id }}" class="m-2 btn-edit-team">
            <icon class="fas fa-edit"></icon>
        </a>
    {% endif %}

    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{ 'order'|trans({}, 'labels') }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item order-by-date" href="#">{{ 'date'|trans({}, 'labels') }}</a>
                <a class="dropdown-item order-by-user" href="#">{{ 'user'|trans({}, 'labels') }}</a>
                <a class="dropdown-item order-by-votes" href="#">{{ 'votes'|trans({}, 'labels') }}</a>
            </div>
        </li>
    </ul>
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="team-content container-fluid mt-3">
    <div class="row h-100">
        <div class="col-sm-12">
            <h3>
                {{ team.name }}
            </h3>
        </div>
        <div class="col-sm-12">
            <ul>
            {% for teamMember in team.teamMembers %}
                <li>{{ teamMember.member.name }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
