{% extends 'base.html.twig' %}

{% block title %}{{ 'forgot_password'|trans({}, 'titles') }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row wrapper fadeInDown">
        <div class="col-md-12" id="formContent">
            <div class="fadeIn first">
                <img src="/images/logo.png" id="icon" alt="User Icon" />
            </div>
            {% if error is defined %}
                <div class="mb-3 alert alert-error font-weight-normal">
                    <strong>Error!</strong> {{ error }}
                </div>
            {% endif %}

            <form method="post" action="{{ path('app_reset_password_request') }}">
                {% if logout_setup is defined %}
                    {% if app.user is defined %}
                        <div class="checkbox mb-3">{{ 'logged_in_as'|trans({'%name%': app.user.name }, 'labels') }}, 
                        <a href="{{ path('app_logout') }}">Logout</a>
                    {% endif %}
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">{{ 'enter_email_reset_password'|trans({}, 'labels') }}</h1>
                <label for="inputEmail" class="sr-only">{{ 'email'|trans({}, 'labels') }}</label>
                <input type="email" name="email" id="inputEmail" class="fadeIn second" placeholder="E-Mail" required autofocus>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="fadeIn fourth" type="{{ 'reset'|trans({}, 'labels') }}">
                    Reset
                </button>
            </form>

            <div class="row" id="formFooter">
                <div class="col-md-6 col-sm-6 col-xl-6">
                    <a class="underlineHover" href="/login">{{ 'login'|trans({}, 'labels') }}</a>
                </div>
                <div class="col-md-6 col-xl-6">
                    <a class="underlineHover" href="/register">{{ 'register'|trans({}, 'labels') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
