{% extends 'base.html.twig' %}

{% block title %}New Password{% endblock %}

{% block body %}
<div class="container">
    <div class="row wrapper fadeInDown">
        <div class="col-md-12" id="formContent">
            <div class="fadeIn first">
                <img src="/images/logo.png" id="icon" alt="User Icon" />
            </div>
            
            <form method="post" action="{{ path('app_new_password') }}">
                {% if error is defined %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <?php if ($logout_setup): ?>
                    {% if app.user %}
                        <div class="checkbox mb-3">You are logged in as {{ app.user.name }}, 
                        <a href="{{ path('app_logout') }}">Logout</a>
                    {% endif %}
                <?php endif; ?>

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="fadeIn second check" placeholder="Password" required autofocus>

                <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
                <input type="password" name="confirm_password" id="inputConfirmPassword" class="fadeIn third check" placeholder="Confirm Password" required>

                <input type="hidden" value="{{ email }}" name="email" required>
                <input type="hidden" value="{{ token }}" name="token" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="fadeIn fourth" type="submit">
                    Reset
                </button>
            </form>
        </div>
    </div>
</div>
<script language='javascript' type='text/javascript'>

    $('.check').unbind('keyup change').on('keyup change', function() {
        let value = undefined
        $('.check').each(function() {
            if (undefined === value) {
                value = $(this).val()
            } else if (value != $(this).val()) {
                $('#inputConfirmPassword')[0].setCustomValidity("Passwords not equal!");
            } else {
                $('#inputConfirmPassword')[0].setCustomValidity("");
            }
        });
    });

    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
{% endblock %}