{% extends 'base.html.twig' %}

{% block title %}{{ 'request_new_password'|trans({}, 'titles') }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row wrapper fadeInDown">
        <div class="col-md-12" id="formContent">
            <div class="fadeIn first">
                <img src="/images/logo.png" id="icon" alt="User Icon" />
            </div>
            {% if error is defined %}
                <div class="mb-3 alert alert-error font-weight-normal">
                    <strong>{{ 'error'|trans({}, 'labels') }}</strong> {{ error }}
                </div>
            {% else %}
                <div class="mb-3 alert alert-success font-weight-normal">
                    {{ 'password_request_send'|trans({}, 'messages') }}
                </div>
            {% endif %}
            <div class="row" id="formFooter">
                <div class="col-md-6 col-sm-6 col-xl-6">
                    <a class="underlineHover" href="/login">{{ 'login'|trans({}, 'labels') }}</a>
                </div>
                <div class="col-md-6 col-xl-6">
                    <a class="underlineHover" href="/register">{{ 'register'|trans({}, 'labels') }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
