{% extends 'base.html.twig' %}

{% block title %}{{ 'new_password'|trans({}, 'titles') }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row wrapper fadeInDown">
        <div class="col-md-12" id="formContent">
            <div class="fadeIn first">
                <img src="/images/logo.png" id="icon" alt="User Icon" />
            </div>
            
            <form method="post" action="{{ path('app_new_password') }}">
                {% if error is defined %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <?php if ($logout_setup): ?>
                    {% if app.user %}
                        <div class="checkbox mb-3">{{ 'logged_in_as'|trans({'%name%': app.user.name }, 'labels') }}, 
                        <a href="{{ path('app_logout') }}">{{ 'logout'|trans({}, 'labels') }}</a>
                    {% endif %}
                <?php endif; ?>

                <h1 class="h3 mb-3 font-weight-normal">{{ 'sign_in'|trans({}, 'labels') }}</h1>
                <label for="inputPassword" class="sr-only">{{ 'password'|trans({}, 'labels') }}</label>
                <input type="password" name="password" id="inputPassword" class="fadeIn second check" placeholder="{{ 'password'|trans({}, 'labels') }}" required autofocus>

                <label for="inputConfirmPassword" class="sr-only">{{ 'confirm_password'|trans({}, 'labels') }}</label>
                <input type="password" name="confirm_password" id="inputConfirmPassword" class="fadeIn third check" placeholder="{{ 'confirm_password'|trans({}, 'labels') }}" required>

                <input type="hidden" value="{{ email }}" name="email" required>
                <input type="hidden" value="{{ token }}" name="token" required>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="fadeIn fourth" type="submit">
                    {{ 'reset'|trans({}, 'labels') }}
                </button>
            </form>
        </div>
    </div>
</div>
<script language='javascript' type='text/javascript'>

    $('.check').unbind('keyup change').on('keyup change', function() {
        let value = undefined
        $('.check').each(function() {
            if (undefined === value) {
                value = $(this).val()
            } else if (value != $(this).val()) {
                $('#inputConfirmPassword')[0].setCustomValidity("{{ 'password_not_equal'|trans({}, 'labels') }}");
            } else {
                $('#inputConfirmPassword')[0].setCustomValidity("");
            }
        });
    });

    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('{{ 'password_must_changed'|trans({}, 'labels') }}');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>
{% endblock %}