{% extends 'base.html.twig' %}

{% block title %}{% if 1 == archived %}{{ 'archive_of'|trans({}, 'titles') }}{% endif %} {{ board.name }} ({{ board.columns|join(', ') }}){% endblock %}
{% block navigation_title %}{% if 1 == archived %}{{ 'archive_of'|trans({}, 'titles') }} {% endif %}{{ board.name }} ({{ board.columns|join(', ') }}){% endblock %}

{% if app.user.name is defined %}
    {% set subscribed = false %}
    {% set live_notify = true %}

    {% for boardSubscriber in board.boardSubscribers %}
        {% if boardSubscriber.subscriber.id == app.user.id %}
            {% set subscribed = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block navigation_additions_user_options %}
    {% if app.user.name is defined %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input ml-1" id="board_subscribe" {% if subscribed %} checked="checked" {% endif %}>
            <label class="board-subscribe dropdown-item form-check-label" for="board_subscribe" data-toggle="tooltip" title="{{ 'click_to_subscribe_board'|trans({}, 'titles') }}">{{ 'subscribe'|trans({}, 'labels') }}</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input ml-1" id="board_live_notify" {% if live_notify %} checked="checked" {% endif %}>
            <label class="board-live-notify dropdown-item form-check-label" for="board_live_notify" data-toggle="tooltip" title="{{ 'click_to_get_live_notifications'|trans({}, 'titles') }}">{{ 'live_notify'|trans({}, 'labels') }}</label>
        </div>
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block navigation_additions %}

    {% if 0 == archived %}
        <a href="/board/archive/{{ board.id }}" class="m-2 btn-archive-board" data-toggle="tooltip" title="{{ 'click_to_show_archived_board'|trans({}, 'titles') }}">
            <icon class="fas fa-archive"></icon>
        {# <button class="btn m-0"><icon class="fas fa-archive"></icon></button> #}
        </a>
    {% else %}
        <a href="/board/{{ board.id }}" class="m-2 btn-archive-board" data-toggle="tooltip" title="{{ 'board_overview'|trans({}, 'titles') }}">
            <icon class="fas fa-chalkboard"></icon>
        {# <button class="btn m-0"><icon class="fas fa-archive"></icon></button> #}
        </a>
    {% endif %}

    {% if is_granted('edit', board) %}
        <a href="/board/create/{{ board.id }}" class="m-2 btn-edit-board" data-toggle="tooltip" title="{{ 'click_to_edit_board'|trans({}, 'titles') }}">
            <icon class="fas fa-edit"></icon>
        </a>
    {% endif %}

    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{ 'order'|trans({}, 'labels') }}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item order-by-date" href="#" data-toggle="tooltip" title="{{ 'click_to_sort_by_date'|trans({}, 'titles') }}">{{ 'date'|trans({}, 'labels') }}</a>
                <a class="dropdown-item order-by-user" href="#" data-toggle="tooltip" title="{{ 'click_to_sort_by_username'|trans({}, 'titles') }}">{{ 'user'|trans({}, 'labels') }}</a>
                <a class="dropdown-item order-by-votes" href="#" data-toggle="tooltip" title="{{ 'click_to_sort_by_votes'|trans({}, 'titles') }}">{{ 'votes'|trans({}, 'labels') }}</a>
            </div>
        </li>
    </ul>
    {{ parent() }}
{% endblock %}

{% block body %}
<div class="board-content container-fluid h-100 mt-3">
    <div class="row h-100">
    {% for column in board.columns %}
        <div class="column-wrapper no-float col-md-{{ (12 / board.columns|length)|round }}" data-id="{{ column.id }}">
            <div class="row ml-1">
                <div class="header col-12 p-2 color-primary-1 bg-color-primary-3" data-id="{{ column.id }}">
                    {{ column.name }}
                    {# prüfung der rechte auf create_ticket erstmal weg gelassen, weil jeder der für das board registriert ist, auch
                       tickets erstellen soll und wer nicht registriert ist, sieht das board auch nicht #}
                    {% if 0 == archived %}
                        <div class="add" data-toggle="tooltip" title="{{ 'click_to_add_ticket_to_column'|trans({'%name%': column.name }, 'titles') }}">
                            <i class="fas fa-plus-circle"></i>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="column row ml-1" data-id="{{ column.id }}">
                <div class="column bg-color-primary-1 col-md-12 column-content">
                {% for ticket in column.tickets %}
                    {% if ticket and ticket.isArchived == archived %}
                        {{ include('ticket/show.html.twig', { 'ticket': ticket, 'archived': archived }) }}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<div id="ticket_remove_modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'delete_ticket'|trans({}, 'titles') }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
{#                    Should this ticket really be removed from the board? #}
                    {{ 'should_this_ticket_really_be_removed_from_board'|trans({}, 'messages') }}
                </div>
                <div class="error alert alert-danger" style="display: none;" role="alert">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">{{ 'remove'|trans({}, 'labels') }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'close'|trans({}, 'labels') }}</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{#    <script src="/js/EventSource.js"></script>#}

    <script type="text/javascript" language="javascript">
        let current_user_id = parseInt("{{ app.user.id }}");
        let ticketDeleteId = undefined;
        let sort_type = undefined;
        let sort_direction = undefined;
        let live_notify = (true == "{{ live_notify }}");
        let prevClicked = undefined;
        let sameClicked = 0;

        // container for all tickets new then specific time (maybee 1 hour?)
        let tickets = [];
        let ticketTimer = [];

        const SORT_DIRECTION_ASC = 'asc';
        const SORT_DIRECTION_DESC = 'desc';

        const SORT_TYPE_VOTINGS = 'votings';
        const SORT_TYPE_DATE = 'date';
        const SORT_TYPE_NAME = 'name';

        $(document).ready(function() {
            if (checkEventSourceSupported()) {
                connect();
            }

            {% if 0 == archived %}
                init_ticket_add();
                init_voting();
                init_options();
            {% endif %}

            init_create_timer();
            init_tickets();
            init_sorting();
        });

        function init_create_timer() {
            $('.ticket').filter(function() {
                let dateElement = $(this).find('.date');
                let identifier = $(dateElement).attr('data-identifier');

                if (undefined !== ticketTimer[identifier]) {
                    return true;
                }

                let current_time_milliseconds = parseInt(new Date().getTime() / 1000);
                let createDate = $(dateElement).attr('data-timestamp');
                let diff = current_time_milliseconds - createDate;

//                if (diff < 31536000) {
                    tickets[identifier] = $(dateElement);
                    refresh_created(dateElement);
//                }
            })
        }

        function refresh_created(element) {
            let current_time_milliseconds = parseInt(new Date().getTime() / 1000);
            let createDate = $(element).attr('data-timestamp');
            let diff = current_time_milliseconds - createDate;
            let nextTick = 1000;
            let identifier = $(element).attr('data-identifier');

//            if (diff >= 31536000
//                && undefined !== ticketTimer[identifier]
//            ) {
//                clearTimeout(ticketTimer[identifier]);
//                $(element).text(convertSecondsToDateString(createDate));
//                return true;
//            } else if (diff > 86400) {
            if (diff > 86400) {
                clearTimeout(ticketTimer[identifier]);
                nextTick = 86400000;
            } else if (diff > 3600) {
                clearTimeout(ticketTimer[identifier]);
                nextTick = 3600000;
            } else if (diff > 60
            ) {
                clearTimeout(ticketTimer[identifier]);
                nextTick = 60000;
            }

            let dateString = convertSecondsToReadableTimeString(diff);
            $(element).text(dateString);

            ticketTimer[identifier] = setTimeout(
                function() {
                    refresh_created(element);
                }, nextTick
            );
        }

        function convertSecondsToReadableTimeString(seconds) {
            let years = Math.floor(seconds / 31536000);
            translatedDateString = '';
            if (years) {
                if (1 === years) {
                    translatedDateString = "{{ 'create_year_ago'|trans({'%years%': 'years_placeholder'}, 'labels') }}";
                } else {
                    translatedDateString = "{{ 'create_years_ago'|trans({'%years%': 'years_placeholder'}, 'labels') }}";
                }
                return translatedDateString.replace('years_placeholder', years);
            }

            let months = Math.floor((seconds %= 31536000) / 2592000);
            if (months) {
                if (1 === months) {
                    translatedDateString = "{{ 'create_month_ago'|trans({'%months%': 'months_placeholder'}, 'labels') }}";
                } else {
                    translatedDateString = "{{ 'create_months_ago'|trans({'%months%': 'months_placeholder'}, 'labels') }}";
                }
                return translatedDateString.replace('months_placeholder', months);
            }

            let weeks = Math.floor((seconds %= 2592000) / 604800);
            if (weeks) {
                if (1 === weeks) {
                    translatedDateString = "{{ 'create_weeks_ago'|trans({'%weeks%': 'weeks_placeholder'}, 'labels') }}";
                } if (2 == weeks) {
                } else {
                    translatedDateString = "{{ 'create_week_ago'|trans({'%weeks%': 'weeks_placeholder'}, 'labels') }}";
                }
                return translatedDateString.replace('weeks_placeholder', weeks);
            }

            let days = Math.floor((seconds %= 604800) / 86400);
            if (days) {
                if (1 === days) {
                    translatedDateString = "{{ 'yesterday'|trans({'%days%': 'days_placeholder'}, 'labels') }}";
                } if (2 == days) {
                    translatedDateString = "{{ 'the_day_before_yesterday'|trans({'%days%': 'days_placeholder'}, 'labels') }}";
                } else {
                    translatedDateString = "{{ 'create_days_ago'|trans({'%days%': 'days_placeholder'}, 'labels') }}";
                }
                return translatedDateString.replace('days_placeholder', days);
            }

            let hours = Math.floor((seconds %= 86400) / 3600);
            if (hours) {
                if (1 === hours) {
                    translatedDateString = "{{ 'create_hour_ago'|trans({'%hours%': 'hours_placeholder'}, 'labels') }}";
                } else {
                    translatedDateString = "{{ 'create_hours_ago'|trans({'%hours%': 'hours_placeholder'}, 'labels') }}";
                }
                return translatedDateString.replace('hours_placeholder', hours);
            }

            let minutes = Math.floor((seconds %= 3600) / 60);
            if (minutes) {
                if (1 === minutes) {
                    translatedDateString = "{{ 'create_minute_ago'|trans({'%minutes%': 'minutes_placeholder'}, 'labels') }}";
                } else {
                    translatedDateString = "{{ 'create_minutes_ago'|trans({'%minutes%': 'minutes_placeholder'}, 'labels') }}";
                }
                return translatedDateString.replace('minutes_placeholder', minutes);
            }

            if (1 === seconds) {
                translatedDateString = "{{ 'create_second_ago'|trans({'%seconds%': 'seconds_placeholder'}, 'labels') }}";
            } else {
                translatedDateString = "{{ 'create_seconds_ago'|trans({'%seconds%': 'seconds_placeholder'}, 'labels') }}";
            }
            return translatedDateString.replace('seconds_placeholder', seconds);
        }

        function convertSecondsToDateString(seconds) {
            var dateTime = new Date(1970, 0, 1); // Epoch
            dateTime.setSeconds(seconds);
            return dateTime;
        }

        function init_tickets() {
            $('.ticket').unbind('click').on('click', function(ui) {

                if (ui.target === $(this)
                    || $(ui.target).hasClass('content')
                ) {
                    let isActive = $(this).hasClass('active');
                    $('.ticket').removeClass('active');

                    if (!isActive) {
                        $(this).addClass('active');
                    }
                }
            });
        }

        {% if 0 == archived %}
            function init_ticket_add() {
                $('.column-wrapper .header .add').unbind('click').on('click', function() {
                    let column_id = $(this).parent().data('id');
                    $.get('/ticket/load_edit_template', function(response) {
                        var editFormContainer = $(response);
                        let buttonSubmit = $(editFormContainer).find('.btn-primary');
                        var editForm = $(editFormContainer).find('form[name=ticket_form]');
                        editForm.on('submit', function() {
                            return false;
                        });
                        buttonSubmit.unbind('click').on('click', function() {
                            jQuery.validator.setDefaults({
                                debug: false,
                                success: "valid"
                            });

                            $(editForm).validate();
                            if ($(editForm).valid()) {
                                $(this).prop('disabled', true);
                                $.post('/ticket/save', {
                                        'ticket_form[content]': $(editForm).find('#ticket_form_content').val(),
                                        'ticket_form[_token]': $(editForm).find('#ticket_form__token').val(),
                                        'column_id': column_id,
                                        'board_id': 1
                                    }, function(response) {
                                        if (true === response.success) {
                                            $(editFormContainer).modal('hide');
                                        } else {
                                            alert(response.content, "{{ 'error_ticket_creation'|trans({}, 'titles') }}")
                                        }
                                    }
                                );
                            }
                        });
                        $(editFormContainer).on('hidden.bs.modal', function () {
                            $(editFormContainer).remove();
                        });

                        $(editFormContainer).find('#ticket_form_content').textareaAutoSize();
                        $(editFormContainer).modal('show');
                        $(editFormContainer).find('#ticket_form_content').focus();
                    });
                });
            }

            function init_voting() {
                $('.btn-vote').unbind('click').on('click', function() {
                    // prevent multi click on came item
                    if (undefined === prevClicked
                        || prevClicked !== this
                        || (prevClicked === this
                            && sameClicked < 2)
                    ) {
                        if (prevClicked === this) {
                            ++sameClicked;
                        } else {
                            sameClicked = 1;
                        }
                        prevClicked = this;

                        $.post('/vote', {
                            'ticket_id': $(this).data('id'),
                            'value': $(this).data('value')
                        }, function(response) {
                            // falback for IE and Edge because EventSourcing is not known there...
                            if (!checkEventSourceSupported()) {
                                handleVotingEvent(response);
                            }
                        });
                    }
                });
            }
        {% endif %}

        function init_sorting() {

            $('.order-by-date').unbind('click').on('click', function() {
                sort_type = SORT_TYPE_DATE;
                sort_direction = SORT_DIRECTION_ASC;
                $('[data-toggle="tooltip"], .tooltip').tooltip("hide");
                considerCurrentSortConditions();
            });

            $('.order-by-user').unbind('click').on('click', function() {
                sort_type = SORT_TYPE_NAME;
                sort_direction = SORT_DIRECTION_ASC;
                $('[data-toggle="tooltip"], .tooltip').tooltip("hide");
                considerCurrentSortConditions();
            });

            $('.order-by-votes').unbind('click').on('click', function() {
                sort_type = SORT_TYPE_VOTINGS;
                sort_direction = SORT_DIRECTION_ASC;
                $('[data-toggle="tooltip"], .tooltip').tooltip("hide");
                considerCurrentSortConditions();
            });
        }

        function considerCurrentSortConditions() {
            switch (sort_type) {
                case SORT_TYPE_DATE:
                    sort_by_date();
                    break;
                case SORT_TYPE_NAME:
                    sort_by_user();
                    break;
                case SORT_TYPE_VOTINGS:
                    sort_by_votes();
                    break;
            }
        }

        function sort_by_date() {
            $('.column-content').each(function(count, column) {
                var tickets = $(column).children('.ticket');
                tickets.detach().sort(function(a, b) {
                    var astts = a.dataset.date;
                    var bstts = b.dataset.date;
                    return (astts > bstts) ? (astts > bstts) ? -1 : 0 : 1;
                });

                $(tickets).each(function(key, ticket) {
                    column.append(ticket);
                })
            });
        }

        function sort_by_user() {
            $('.column-content').each(function(count, column) {
                var tickets = $(column).children('.ticket');
                tickets.detach().sort(function(a, b) {
                    var astts = a.dataset.creator;
                    var bstts = b.dataset.creator;
                    var asttsDate = a.dataset.date;
                    var bsttsDate = b.dataset.date;

                    if (astts === bstts) {
                        return (asttsDate > bsttsDate) ? (asttsDate > bsttsDate) ? -1 : 0 : 1;
                    }
                    return (astts > bstts) ? (astts > bstts) ? -1 : 0 : 1;
                });

                $(tickets).each(function(key, ticket) {
                    column.append(ticket);
                })
            });
        }

        function sort_by_votes() {
            $('.column-content').each(function(count, column) {
                var tickets = $(column).children('.ticket');
                tickets.detach().sort(function(a, b) {
                    var astts = count_votings_in_ticket(a);
                    var bstts = count_votings_in_ticket(b);
                    var asttsDate = a.dataset.date;
                    var bsttsDate = b.dataset.date;

                    if (astts === bstts) {
                        return (asttsDate > bsttsDate) ? (asttsDate > bsttsDate) ? -1 : 0 : 1;
                    }
//                    return (astts > bstts || asttsDate > bsttsDate) ? (astts == bstts || asttsDate > bsttsDate) ? -1 : 0 : 1;
                    return (astts > bstts) ? (astts > bstts) ? -1 : 0 : 1;
                });

                $(tickets).each(function(key, ticket) {
                    column.append(ticket);
                })
            });
        }

        function count_votings_in_ticket(ticket) {
            let votings = 0;
            $('.vote-count', ticket).each(function() {
                let value = parseInt($(this).text());
                votings += isNaN(value) ? 0 : value;
            });
            return votings;
        }

        {% if 0 == archived %}
            function init_options() {
                $('.board-subscribe, #board_subscribe').unbind('click').click(function(event) {
                    $.get('/board/subscribe/{{ board.id }}', function(response) {
                    });
                });

                $('.board-live-notify, #board_live_notify').unbind('click').click(function(event) {
                    live_notify = !live_notify;
                });

                $('.ticket').unbind('mouseleave').bind('mouseleave', function() {
                    $('.dropdown-menu.show').removeClass('show');
                });

                $('.ticket .options .btn-ticket-delete').unbind('click').on('click', function() {
                    ticketDeleteId = $(this).closest(".ticket").data('id');
                    $('#ticket_remove_modal .btn-primary').attr("disabled", false);
                    let inivitationModal = $('#ticket_remove_modal');
                    $(inivitationModal).modal();

                    $(inivitationModal).on('hidden.bs.modal', function () {
                        $(inivitationModal).find('.error').html("").css({"display": "none"});
                    });
                });

                $('#ticket_remove_modal .btn-primary').unbind('click').on('click', function() {
                    $('#ticket_remove_modal .btn-primary').attr("disabled", true);
                    $.ajax({
                        url: '/ticket/delete/'+ticketDeleteId,
                        type: 'DELETE',
                        success: function(response) {
                            if (true === response.success) {
                                $('#ticket_remove_modal').modal('hide');
                                $('.ticket[data-id="'+ticketDeleteId+'"]').fadeOut(500, function() {
                                    ticketDeleteId = undefined;
                                    $(this).remove();
                                });
                            } else {
                                alert(response.content, "{{ 'error_ticket_deletion'|trans({}, 'titles') }}")
                            }
                        }
                    })
                });

                $('.ticket .options .btn-ticket-archive').unbind('click').on('click', function() {
                    let self = $(this);
                    $.ajax({
                        url: '/ticket/archive/'+$(this).closest(".ticket").data('id'),
                        type: 'POST',
                        success: function(response) {
                            if (true === response.success) {
                                self.closest(".ticket").fadeOut(500, function() {
                                    $(this).remove();
                                });
                            } else {
                                alert(response.content);
                            }
                        }
                    })
                });

                $('.ticket .options .btn-ticket-edit').unbind('click').on('click', function() {
                    let ticketContainer = $(this).closest('.ticket');
                    let contentContainer = $(ticketContainer).find('.content');
                    let content = contentContainer.text().trim();
                    let editContainer = $('<div class="col-md-12 col-sm-12 textarea-container">'+
                        '<textarea rows="3" data-min-rows="3" placeholder="{{ 'your_text_here'|trans({}, 'labels') }}" class="form-control textarea-custom autoExpand">'+
                        content+
                        '</textarea>'+
                        '<button class="btn btn-primary btn-save float-right">{{ 'save'|trans({}, 'labels') }}</button>'+
                        '</div>'
                    );

                    contentContainer.replaceWith(editContainer);
                    let newConententContainer = $(ticketContainer).find('.textarea-container');
                    $(newConententContainer).find('textarea').textareaAutoSize();
                    $(newConententContainer).find('textarea').focus();

                    $(newConententContainer).find('textarea').on('blur focusout keyup', function(event) {
                        if ("Escape" === event.key
                            || (
                                (
                                    "focusout" === event.type
                                    || "blur" === event.type
                                )
                                && event.relatedTarget !== $(ticketContainer).find('.btn-save')[0]
                            )
                        ) {
                            newConententContainer.replaceWith('<div class="col-md-12 content" style="overflow-wrap: break-word;">'+content+'</div>');
                        }
                    });

                    $(ticketContainer).find('.btn-save').on('click', function() {
                        let ticketId = $(ticketContainer).data('id');
                        let ticketContent = $(ticketContainer).find('textarea').val();
                        // set the new content before send and replace to prevent wierd behaviour of set old content and seconds later new content in ticket
                        newConententContainer.replaceWith('<div class="col-md-12 content" style="overflow-wrap: break-word;">'+nl2br(ticketContent)+'</div>');
                        $.post('/ticket/save/'+ticketId, {
                                'content': Base64.encode(ticketContent)
                            }, function(response) {
                                if (true === response.success) {
                                    newConententContainer.replaceWith('<div class="col-md-12 content" style="overflow-wrap: break-word;">'+content+'</div>');
                                }
                            }
                        );
                    });
                });
            }
        {% endif %}
/*
        var keepAliveTimer = null;

        function gotActivity(){
            if(null != keepAliveTimer) {
                clearTimeout(keepAliveTimer);
            }
            keepAliveTimer = setTimeout(connect, 30 * 1000);
        }
*/
        function checkEventSourceSupported() {
            return typeof(EventSource) !== "undefined";
        }

        let eventSource = undefined;

        if (checkEventSourceSupported()) {
            function connect() {
    //            gotActivity();
                const url = new URL('https://mercure-hub.byte-artist.de/hub');
                {% if 0 == archived %}
                    /** MERCURE **/
                    /** iam interested in votings and ticket changes */
                    url.searchParams.append('topic', 'https://retro.byte-artist.de/voting/{id}');
                    url.searchParams.append('topic', 'https://retro.byte-artist.de/ticket/{id}');
                {% else %}
                    // properly later only listen on archive relevant items
                    url.searchParams.append('topic', 'https://retro.byte-artist.de/voting/{id}');
                    url.searchParams.append('topic', 'https://retro.byte-artist.de/ticket/{id}');
                {% endif %}

                eventSource = new EventSource(url);

//                urlString = "https://mercure-hub.byte-artist.de/hub?topic=https://retro.byte-artist.de/voting/{id}&topic=https://retro.byte-artist.de/ticket/{id}"
//                urlString = "https://mercure-hub.byte-artist.de/hub?topic=https%3A%2F%2Fretro.byte-artist.de%2Fvoting%2F%7Bid%7D&topic=https%3A%2F%2Fretro.byte-artist.de%2Fticket%2F%7Bid%7D"
//                eventSource = new EventSource(urlString);

                eventSource.onmessage = eventMessage => handleEventMessage(eventMessage); // do something with the payload

                eventSource.addEventListener('error', function(event) {
//                    console.log(event);
                    eventSource.close();
                    connect();
                });
            }
        }

        function handleEventMessage(eventMessage) {
            let eventMessageDataContent = $.parseJSON(eventMessage.data);
            $.each(eventMessageDataContent, function(key, eventMessagePart) {
                if ('ticket' === key) {
                    handleTicketEvent(eventMessagePart);
                } else if ('voting' === key) {
                    handleVotingEvent(eventMessagePart);
                }
            });
        }

        function handleTicketEvent(eventMessagePart) {
            // create pushed
            if (eventMessagePart.create !== undefined) {
                handleTicketCreateEvent(eventMessagePart);
            } else if (eventMessagePart.update !== undefined) {
                handleTicketUpdateEvent(eventMessagePart);
            } else if (eventMessagePart.archive !== undefined) {
                handleTicketArchivedEvent(eventMessagePart);
            } else if (eventMessagePart.delete !== undefined) {
                handleTicketDeleteEvent(eventMessagePart);
            }
            if (SORT_TYPE_DATE === sort_type
                || SORT_TYPE_NAME === sort_type
            ) {
                considerCurrentSortConditions();
            }
        }

        function handleTicketCreateEvent(eventMessagePart) {
            let column_id = eventMessagePart.create.columnId;
            let ticket_id = eventMessagePart.create.ticketId;
            $.get('/ticket/'+ticket_id, function(response) {
                let ticket_content = $(response);
                ticket_content.hide()
                    .prependTo('.column[data-id="'+column_id+'"] .column-content')
                    .fadeIn();
                init_voting();
                init_options();
                init_tickets();
                refresh_created(ticket_content.find('.date'));
            });

            if (true === live_notify
                && eventMessagePart.ownerId !== current_user_id
            ) {
                $.notify({
                    // options
                    message: '{{ 'ticket_created'|trans({}, 'messages') }}'
                },{
                    // settings
                    type: 'info'
                });
            }

            if (eventMessagePart.ownerId !== current_user_id) {
                notificationToDesktop("{{ 'ticket_created'|trans({}, 'messages') }}", 'Retro Board "{{ board.name }}"');
            }
        }

        function handleTicketUpdateEvent(eventMessagePart) {
            let column_id = eventMessagePart.update.columnId;
            let ticket_id = eventMessagePart.update.ticketId;
            $.get('/ticket/'+ticket_id, function(response) {
                let ticket_content = $(response);
                $('.ticket[data-id="'+ticket_id+'"]').hide()
                    .replaceWith(ticket_content)
                    .fadeIn();
                init_voting();
                init_options();
            });

            if (true === live_notify
                && eventMessagePart.ownerId !== current_user_id
            ) {
                $.notify({
                    // options
                    message: '{{ 'ticket_updated'|trans({}, 'messages') }}'
                },{
                    // settings
                    type: 'info'
                });
            }

            if (eventMessagePart.ownerId !== current_user_id) {
                notificationToDesktop("{{ 'ticket_updated'|trans({}, 'messages') }}", 'Retro Board "{{ board.name }}"');
            }
        }

        function handleTicketDeleteEvent(eventMessagePart) {
            $('.ticket[data-id="'+eventMessagePart.delete+'"]').remove();

            if (true === live_notify
                && eventMessagePart.ownerId !== current_user_id
            ) {
                $.notify({
                    // options
                    message: '{{ 'ticket_removed'|trans({}, 'messages') }}'
                },{
                    // settings
                    type: 'info'
                });
            }
        }

        function handleTicketArchivedEvent(eventMessagePart) {
            $('.ticket[data-id="'+eventMessagePart.archive+'"]').remove();

            if (true === live_notify
                && eventMessagePart.ownerId !== current_user_id
            ) {
                $.notify({
                    // options
                    message: '{{ 'ticket_archived'|trans({}, 'messages') }}'
                },{
                    // settings
                    type: 'info'
                });
            }
        }

        /** keep votings that have already been delivered, but their ticket may not yet exist */
        let votings = [];

        function handleVotingEvent(eventMessagePart) {
            let ticket_id = eventMessagePart.ticketId;
            let owner_id = eventMessagePart.ownerId;

            $.each(eventMessagePart.votingContent, function(key, value) {
                let span = $("span.vote-count[data-id='"+ticket_id+"'][data-value='"+key+"']")
                let current_points = parseInt(span.text());
                if (isNaN(current_points)) {
                    current_points = 0;
                }
                if (current_user_id === owner_id
                    && 0 < value
                ) {
                    $("span.btn-vote[data-id='"+ticket_id+"'][data-value='"+key+"']").addClass("color-heightligth");
                } else if (current_user_id === owner_id) {
                    $("span.btn-vote[data-id='"+ticket_id+"'][data-value='"+key+"']").removeClass("color-heightligth");
                }
                result = current_points + value;
                if (0 < result) {
                    span.html(result);
                } else {
                    span.html("");
                }
            });

            if (SORT_TYPE_VOTINGS === sort_type) {
                considerCurrentSortConditions();
                if (true === live_notify
                    && current_user_id !== owner_id
                ) {
                    $.notify({
                        // options
                        message: '{{ 'votings_changed_tickets_reordered'|trans({}, 'messages') }}'
                    },{
                        // settings
                        type: 'info'
                    });
                }
            } else if (true === live_notify
                && current_user_id !== owner_id
            ) {
                $.notify({
                    // options
                    message: 'Votings changed'
                },{
                    // settings
                    type: 'info'
                });
            }
        }

        function nl2br(str, is_xhtml) {
            var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br/>' : '<br>';
            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
        }

        /** autosize for textarea */
        !function(t,e,i,n){function s(e,i){this.element=e,this.$element=t(e),this.init()}var h="textareaAutoSize",o="plugin_"+h,r=function(t){return t.replace(/\s/g,"").length>0};s.prototype={init:function(){var i=parseInt(this.$element.css("paddingBottom"))+parseInt(this.$element.css("paddingTop"))+parseInt(this.$element.css("borderTopWidth"))+parseInt(this.$element.css("borderBottomWidth"))||0;r(this.element.value)&&this.$element.height(this.element.scrollHeight-i),this.$element.on("input keyup",function(n){var s=t(e),h=s.scrollTop();t(this).height(0).height(this.scrollHeight-i),s.scrollTop(h)})}},t.fn[h]=function(e){return this.each(function(){t.data(this,o)||t.data(this,o,new s(this,e))}),this}}(jQuery,window,document);

    </script>
{% endblock %}
